.manage-user-container {
  padding: 10px;

  .users-content {
    .btn-add-new {
      margin: 15px 0;

      .btn-primary {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }

  .title {
    font-weight: 600;
    font-size: 20px;
  }
}
.modal-add-user {
  .img-preview {
    border: 1px dashed #ccc;
    height: 150px;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .label-upload {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 10px;
    border-radius: 5px;
    background: #eeeeee;
    cursor: pointer;

    &:hover {
      background-color: #dcdcdc;
    }
  }
}
